{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def shell_game(shell: str, moves: list[int]) -> str:
    # your code here
    return ""
{% endblock start %}

{% block example %}
print('Example:')
print(shell_game('A', [1, 2, 3]))
{% endblock %}

# These "asserts" are used for self-checking
{% block tests %}
{% for t in tests %}
assert {% block call %}shell_game({{t.input|p_args}}){% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}