<!-- Describe task in general -->
<p style="text-align: justify;">
    In the <a target="_blank" href="https://en.wikipedia.org/wiki/Shell_game">Shell game</a>  involving a coin and three opaque shells positioned in a line (A, B, and C), the "banker" player makes a series of moves to change the position of two shells, keeping the coin under the shell. Given the initial position of the coin and a sequence of moves made by the "banker", you must determine the final position of the coin. The moves are: 1 - swap A and B, 2 - swap B and C, and 3 - swap A and C.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}shell-game.svg" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two arguments: a character (<span translate="no">str{% if is_js %}ing{% endif %}</span>) indicating the starting position of the coin ('A', 'B', or 'C'), and <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of moves as integers (<span translate="no">{% if is_js %}number{% else %}int{% endif %}</span>).
</p>

<p>
    <strong>Output:</strong> A character of final position.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
